.input-quantity{
    margin: 0;
    width: 90px;
    height: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.input-quantity button img{
    width: 10px;
    height: 10px;
    margin-bottom: 5px;

}

.input-quantity button {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
}

.input-quantity button:hover{
    background-color: darkorange;
}

.input-quantity button:active{
    box-shadow: none;
    border-color: none;
}

.input-quantity input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
}