<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="header-container">
        <app-header></app-header>
    </div>
    <div class="body-container">
        <div class="banner-container">
            <div class="banner">
                <img src="assets/image/banner1.jpg">
            </div>
            <div class="banner">
                <img src="assets/image/banner1.jpg">
            </div>
        </div>
        
    </div>
</body>
</html>