<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-container">
        <app-header></app-header>
    </div>
    <div class="body-container">
        <div class="left">
            <app-admin-category></app-admin-category>
        </div>
        <div class="right">
            <div class="heading-banner">
                <div class="text-heading">
                    <h1>User</h1>
                    <div class="seach-bar-container">
                        <form  class="search-bar">
                            <button type="submit"><img src="assets/image/search-symbol.png"></button>
                            <input type="text" placeholder="Search by name"> 
                        </form>
                    </div>
                    <a class="add-user" href="">
                        <span>+ Add User</span>
                    </a>
                </div>
            </div>
            <div class="table-container">
                <table >
                    <colgroup>
                    <col style="width: 74px;">
                    <col style="width: 250px;">
                    <col style="width: 300px;">
                    <col style="width: 200px;">
                    <col style="width: 150px;">
                    <col style="width: 120px;">
                    </colgroup>
                    <thead class="table-head">
                        <tr>
                            <th class="table-cell" style="text-align: left;">Avatar</th>
                            <th class="table-cell">
                                <span title="sort by name">Name</span>
                            </th>
                            <th class="table-cell" style="text-align: left;">Email</th>
                            <th class="table-cell" style="text-align: center;">Permission</th>
                            <th class="table-cell" style="text-align: center;">Wallet Points</th>
                            <th class="table-cell" style="text-align: right;">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>