<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>
</head>

<body>
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="breadcrumb"></div>
    <div class="container">
        <div class="right">
            <div class="img-product">
                <div class="img-viewpoint">
                    <img src="assets/image/product12.jpg">
                </div>
                <div class="img-thumbnail">
                    <ol>
                        <li><img src="assets/image/product12.jpg"></li>
                        <li><img src="assets/image/product12.jpg"></li>
                        <li><img src="assets/image/product12.jpg"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="left">
            <h1 class="product-title">Fantastic Marble Shoes</h1>
            <p class="price">
                <span class="price-currncy">$</span>
                163.93
            </p>
            <div class="product-rating">
                <div class="star-rating"></div>
                <a href="#">(
                    <span class="count">5</span>
                    Reviews )
                </a>
            </div>
            <div class="product-description">Totam facere similique perferendis adipisci quia. Aut qui id qui ipsam.
                Enim repudiandae at laboriosam consequatur corporis voluptatem cupiditate.
            </div>
            <div class="buy-product-container">
                <div class="input-quantity">
                    <app-input-quantity></app-input-quantity>
                </div> 
                <div class="button-action">
                    <button type="submit" class="add-to-cart"><img src="assets/image/shopping-bag.png"> Add to Card</button>
                    <button type="submit" class="buy-product">Buy product</button>
                </div>               
            </div>
            <div class="catergory-container">
                Catergories:
                <a href="#" rel="tag">Food</a>
                ,
                <a href="#" rel="tag">Treats</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <ul class="tabs"> 
            <li class="description-tab">
                <a href="#">Description</a>
            </li>
            <li class="additional-information-tab">
                <a href="#">Additional Information</a>
            </li>
            <li class="Review-tab">
                <a href="#">Review</a>
            </li>
        </ul>
        <div class="description-tab-panel">
            <h2>Description</h2>
            <p>Dignissimos quia ut sed quam optio aut. Eum libero eum nobis minus et et. Optio et unde delectus delectus accusamus error eos ipsa. Placeat odio voluptatum ipsam nobis quos ad.</p>
            <p>Sint autem ducimus ea rerum. Reiciendis ut deserunt cupiditate ipsum. Est repellendus placeat deserunt tenetur nulla qui molestiae veritatis. Ea vero voluptates sit temporibus quaerat nobis qui.</p>
            <p>Neque molestiae debitis laborum sunt animi aliquid quas nam. Eveniet sequi sequi iure.</p>
            <p>Est magnam facere ut. Exercitationem nisi voluptas ad dolorem dolores. Ut harum unde fugit doloribus aut reprehenderit maiores.</p>
        </div>
    </div>
    <div class="Related-product-container">
        <h2>Related Product</h2>
        <div class="related-product">
            <ul>
                <li>
                    <div class="product-block">
                        <div class="related-product-img"><img src="assets/image/product12.jpg"></div>
                        <div class="product-caption">
                            <span class="price">
                                <span class="price-currncy">$</span>
                                163.93
                            </span>
                            <h3 class="product-name">
                                <a href="#">Fantastic Marble Shoes</a>
                            </h3>
                            <div class="count-review"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-block">
                        <div class="related-product-img"><img src="assets/image/product12.jpg"></div>
                        <div class="product-caption">
                            <span class="price">
                                <span class="price-currency">$</span>
                                163.93
                            </span>
                            <h3 class="product-name">
                                <a href="#">Fantastic Marble Shoes</a>
                            </h3>
                            <div class="count-review"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-block">
                        <div class="related-product-img"><img src="assets/image/product12.jpg"></div>
                        <div class="product-caption">
                            <span class="price">
                                <span class="price-currncy">$</span>
                                163.93
                            </span>
                            <h3 class="product-name">
                                <a href="#">Fantastic Marble Shoes</a>
                            </h3>
                            <div class="count-review"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-block">
                        <div class="related-product-img"><img src="assets/image/product12.jpg"></div>
                        <div class="product-caption">
                            <span class="price">
                                <span class="price-currncy">$</span>
                                163.93
                            </span>
                            <h3 class="product-name">
                                <a href="#">Fantastic Marble Shoes</a>
                            </h3>
                            <div class="count-review"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-block">
                        <div class="related-product-img"><img src="assets/image/product12.jpg"></div>
                        <div class="product-caption">
                            <span class="price">
                                <span class="price-currency">$</span>
                                163.93
                            </span>
                            <h3 class="product-name">
                                <a href="#">Fantastic Marble Shoes</a>
                            </h3>
                            <div class="count-review"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</body>

</html>