*{
    margin: 0;
}

.left{
    background: #FFF;
}
.body-container{
    width: 100%;
    display: flex;
    background-color: #F3F4F6;
}

.right{
    width: 100%;
    margin: 28px;
    display: block;
}

.table-cell{
    padding: 20px;
}

.text-heading{
    padding: 20px 0;
    border-bottom: 2px dashed #a5a5a5;
    width: 100%;
    height:fit-content
}
.right h1{
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    padding: 0;
}

.right form{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 50px 0;
}

.add-user-description{
    width: 30%;
    padding-right: 10px;
}

.user-information{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #CECECE;
    background: #FFF;
}

.user-information label{
    width: 100%;
    padding: 10px 0; 
    font-size: 15px;
    font-weight: 500;
}

.add-button-container{
    width: 100%;
    position: relative;
}
.add-button-container button{
    padding: 0 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 159, 127);
    color: rgb(255, 255, 255);
    font-family:  Arial, sans-serif;
    font-weight: 600;
    border-radius: 10px; 
    text-decoration-line:none ;
    position: absolute;
    right: 0;
    bottom: -10px;
}