<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-container">
        <app-header></app-header>
    </div>
    <div class="body-container">
        <div class="body-container">
            <div class="left">
                <app-admin-category></app-admin-category>
            </div>
            <div class="right">
                <div class="heading-banner">
                    <div class="text-heading">
                        <h1>Categories</h1>
                        <div class="seach-bar-container">
                            <form  class="search-bar">
                                <button type="submit"><img src="assets/image/search-symbol.png"></button>
                                <input type="text" placeholder="Search by name"> 
                            </form>
                        </div>
                        <a class="add-product" href="">
                            <span>+ Add Category</span>
                        </a>
                    </div>
                </div>
                <div class="table-container">
                    <table >
                        <colgroup>
                        <col style="width: 150px;">
                        <col style="width: 690px;">
                        <col style="width: 180px;" >
                        </colgroup>
                        <thead class="table-head">
                            <tr>
                                <th class="table-cell" style="text-align: left;">ID</th>
                                <th class="table-cell" style="text-align: left;">
                                    <span title="sort by name">Name</span>
                                </th>
                                <th class="table-cell" style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>