<div class="card">
    <div class="card-head">
        <div class="heading-banner">
            <div class="text-heading">
                <h1>Product</h1>
                <div class="seach-bar-container">
                    <form  class="search-bar">
                        <button type="submit"><img src="assets/image/search-symbol.png"></button>
                        <input type="text" placeholder="Search by name"> 
                    </form>
                </div>
                <a [routerLink]="['/product-create']" class="add-product">
                    <span>+ Add Product</span>
                </a>
            </div>
            <div class="filter">
                <label>Filter By Category</label>
                <select>
                    <option value="">Select Category</option>
                    <option ></option>
                </select> 
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="body-container">
            <div class="right"> 
                <div class="table-container" style="overflow: hidden;">
                    <table style="min-width: 100%;">
                        <colgroup>
                        <col style="width: 100px;">
                        <col style="width: 500px;">
                        <col style="width: 180px;">
                        <col style="width: 150px;">
                        <col style="width: 180px;">
                        <col style="width: 150px;">
                        </colgroup>
                        <thead class="table-head">
                            <tr>
                                <th class="table-cell" style="text-align: left;">Image</th>
                                <th class="table-cell">
                                    <span title="sort by name">Name</span>
                                </th>
                                <th class="table-cell" style="text-align: center;">Category</th>
                                <th class="table-cell" style="text-align: right;">Price/Unit</th>
                                <th class="table-cell" style="text-align: center;">Quantity</th>
                                <th class="table-cell" style="text-align: right;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>