*{
    margin: 0;
}
.body-container{
    width: 100%;
    display: flex;
}

.right{
    width: 100%;
    margin: 0 28px;
    display: block;
}

.heading-banner {
    width: 100%;
    padding: 25px;
    background: #FFF;
    display: block;
}

.text-heading{
    display: flex;
    height: 48px;
    align-items: center;
}

.text-heading h1{
    font-size: 24px;
    width: 20%;
}

.seach-bar-container{
    width: 60%;
    height: 100%;
    display: inline;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    border: 2px solid #CECECE;
    background: #FFF;
}

.search-bar input{
    width: 90%;
    height: 100%;
    border: none;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: #000000;
    font-size: 19px;
}

.search-bar button img{
    width: 15px;
    background-image: none;
    border: none;
}

.search-bar button{
    border: none;
    width: 7%;
    height: 100%;
    background: none;
    cursor: pointer;
    padding: 0;
}

.add-product{
    width: 17%;
    margin-left: 3%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(0, 159, 127);
    color: rgb(255, 255, 255);
    font-family:  Arial, sans-serif;
    font-weight: 600;
    border-radius: 6px; 
    text-decoration-line:none ;
}

.filter{
    width: 100%;
    padding: 20px 0;
}
.filter label{
    width: 100%;
    font-size: 20px;
}

.filter select{
    width: 50%;
    margin-top: 20px;
    height: 40px;
}
.table-container{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid #CECECE;
    background: #FFF;
}

.table-cell{
    padding: 12px;
}