<div class="card">
    <div class="card-head">
        <div class="text-heading">
            <h1>Create New Category</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="body-container">
            <div class="right">
                <form>
                    <div class="add-category-description">
                        <h4 style="padding: 20px 0;">Description</h4>
                        <p>Add your category details and necessary information from here</p>
                    </div>
                    <div class="category-information">
                        <label>Category ID</label>
                        <input class="category-id" style="width: 100%; height: 50px; padding: 10px">
                        <label>Category Name</label>
                        <input class="category-name" style="width: 100%; height: 50px; padding: 10px">
                        <label>Details</label>
                        <textarea style="width: 100%; min-height: 100px; padding: 10px;"></textarea>
                    </div>
                </form>
                <div class="add-button-container">
                    <button type="submit">Add Category</button>
                </div>
            </div>
        </div>
    </div>
</div>