<div class="category">
    <ul>
        <li><a href="#"> <img src="assets/image/shopping-bag.png">
                <span>DashBoard</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Product</span>
            </a>
        </li>
        <li>
            <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Attributes</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Categories</span>
            </a> 
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Tags</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Order</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>User</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Coupon</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Shipping</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Message</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Review</span>
            </a>
        </li>
        <li> <a href="#"> <img src="assets/image/shopping-bag.png">
                <span>Setting</span>
            </a>
        </li>
    </ul>
</div>